h1 Question
h2 = @question.title
p = @question.body
p
  - if current_user&.author_of?(@question)
    = link_to 'Delete question', question_path(@question), method: :delete

h1 Answers
.answers = render 'answers'

= render 'answers/answer_form', question: @question, answer: @answer || @question.answers.new

p = link_to 'Questions', questions_path


#errors